
.intervention-page-container{
    background-image: linear-gradient(180deg, rgba(180, 178, 178, 0.8) 10%,transparent);
    width: 100vw;
}

.intervention-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.intervention-container h1{
    color: #000;
    margin-top: 120px;
    font-size: 45px;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.tech-infos-c{
    width: 700px;
    height: 250px;
    padding: 15px 25px 15px 25px;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow:  0px 4px 8px rgba(0.8, 0.4, 0.4, 0.4);
}

.intervention-container h3{
    text-align: center;
    font-size: 1.5rem;         /* 24px */
    font-weight: 600;
    color: #111;
    font-family: 'Inter', sans-serif;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness:1px ;
    line-height: 1.3;
    margin-bottom: 0.5rem;
}

.tech-infos{
    display: flex;
    justify-content: center;
    
}

.tech-profile{
    width: 160px;
    margin-top: 5px;
    border-radius: 120px;
}

.tech-infos-card{
    display: flex;
    flex-direction: column;
    height: 130px;
    padding: 10px;
    border-radius: 10px;
    width: 280px;
    margin-top: 13px;
    margin-left: 50px;
    margin-right: 140px;
    
}

.tech-infos-card h5{
    font-size: 28px;
}
.tech-name{
    margin-bottom: 15px;
}

.tech-infos-card h6{
    font-size: 20px;
}

.inter-infos-c{
    
    width: 910px;
    height: 320px;
    padding: 10px;
    border-radius: 10px;
    border: 2px dashed #929292;
;
}


.inter-infos{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    font-size: 20px;
}

.infos-left{
    margin-left: 40px;
}

.infos-right{
    margin-left: -20px;
}

.two-fields{
    display: flex;
    gap: 50px;
}

.bon-container{
    width: 800px;
    height: 450px;
    margin-bottom: 70px;
    padding: 10px;
}


.bon-container {
  max-width: 600px;
  margin: 2rem auto;
  max-height: 200px;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #f9f9f9;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.bon-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.toggle-btn {
  background-color: #4f46e5;
  color: white;
  padding: 0.8rem 1.8rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  font-size: large;
  transition: background-color 0.3s ease;
  margin-top: 30px;
}

.toggle-btn:hover {
  background-color: #4338ca;
}

.bon-image-wrapper {
  margin-top: 1.5rem;
  padding: 0.5rem;
  background: white;
  border-radius: 0.75rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.bon-image {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
  object-fit: contain;
}

@media (max-width: 1000px){
    
.inter-infos-c{
    width: 550px;
    height: 520px;
    padding: 10px;
    border-radius: 10px;
    border: 3px dashed #929292;
;
}


.inter-infos{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.infos-left{
    margin-left: 40px;
}

.infos-right{
    margin-left: 40px;
}

.two-fields{
    display: flex;
    gap: 60px;
}

}