@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root,
.app,
.content {
    font-family: 'Source Sans 3', sans-serif;
    width: 100%;
    height: 100%;

}

.app{
    display: flex;
    position: relative;
}

::-webkit-scrollbar{
    
    display: none;
}

::-webkit-scrollbar-track{
background: #e0e0e0;
}

::-webkit-scrollbar-thumb{
    background: #888;
}

::-webkit-scrollbar-thumb:hover{
    background: #555;
}

*{
    scrollbar-width: none;
}

* {
  -ms-overflow-style: none;
}