.dashboard-page{
    display: flex;
    width: 100vw;
}

.dashboard-container{
    margin-top: 180px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-left: 20px;
}
.intervention-card{
    background-image:linear-gradient(-150deg, rgba(105, 133, 158, 0.8) 10%,transparent);
    width: 300px;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;

}

.intervention-card h3{
    font-size: 1.5rem;         /* 24px */
    font-weight: 600;
    text-decoration: none;
    color: #2b2a2a;
    font-family: 'Inter', sans-serif;
    margin-bottom: 0.5rem;
    transition: background-color 0.5s ease;
}
.intervention-card:hover{
    background-color: rgba(86, 109, 129, 0.8);
    color: #ffffff;
    padding: 25px;
    font-weight: 500;
}

.intervention-card p{
    text-decoration: none;
}

