body{
  background: linear-gradient(to right, #beb7c4, #a3b4cc);
  min-height: 100vh;       /* make sure it covers full viewport height */
  margin: 0;               /* remove default margin */
  padding: 0;
}

#form-container{
  background: white;
  width: 85%;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  max-width: 1000px;
  margin: 3rem auto; 
  background-color: #dadfe6;
}

.img-container{
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 2px dashed #ccc;
  background-color: #f4f7fb;
  padding: 1%;
  border-radius: 10px;
  text-align: center;
  width: 35%;
  margin: auto;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.label-bon{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #333;
  letter-spacing: 0.5px;
  text-align: center;
  text-shadow: 0.2px 0.2px 0.4px rgba(0, 0, 0, 0.1);
}

.img-container:hover{
  background-color: #eaf0f9;
}

#bon-upload{
  display: none;
}

label[for="file-upload"] {
    cursor: pointer;
    display: inline-block;
  }
label[for="file-upload"]:hover img {
    opacity: 0.8;
  }

.img-c{
  align-items: center;
  border: #a3b4cc;
}

.bon-upload{
  align-items: center;
  gap: 10px;
  color: #333;
  font-weight: 500;
}

.upload-icon{
  width: 40%;
  height: 45%;
  opacity: 0.8;
}

.btn-submit{
  background-color: #4a8ad3; /* Green */
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover{
    background-color: #65a6f0;

}

.btn-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  
}